@charset 'UTF-8';

/*Geral*/
*{
    margin: 0px;
    padding: 0px;
}

/*Configurações do Body*/
body{
    background-color: black;
}

/*Estilização menu*/
nav {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.485);
    background-color: #2E2E2E;
}

nav ul {
    display: flex;
    gap: 20px; /*Espaçamento entre os itens*/
    list-style: none;
}

nav li {
    padding: 5px;
}

nav a {
    color: white; /* Cor normal do link */
    text-decoration: none;
    transition: color 0.3s ease-in-out; /* Suaviza a transição de cor */
}
nav a:hover {
    color: #b238ef; /* Cor ao passar o mouse (rosa, por exemplo) */
  }